* {
  box-sizing: border-box;
}
.required {
  color: red;
  font-weight: normal;
}
.error {
  color: rgb(175, 4, 4);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
}
.form {
  width: 450px;
  padding: 30px;
  margin: 40px auto;
  background: #f8f9fa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form h1 {
  background: #c68c41;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #f8f9fa;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #c68c41;
}
.form input[type="text"],
.form input[type="url"],
.form textarea,
.form select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px gainsboro;
  background: linear-gradient(
    to right,
    #eddcc7,
    #c68c41
  );
  height: 7.5px;
}
.range {
  width: 50%;
  margin: auto;
  display: block;
  margin-top: 35px;
}

/**************************/

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 90%;
    margin-top: 0;
  }
}
